body {
  margin: 0;
  font-family: 'Playfair Display', serif;
  min-height: 100vh;
  background-color: #e7e0d7; /* Fallback background, matches your beige button */
}

.form-section {
  background: radial-gradient(#F6EED7, #D5BB94);
  opacity: 0.8;
  padding: 20px;
  border-radius: 5px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
